@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nothing+You+Could+Do&family=Permanent+Marker&family=Sedgwick+Ave&family=Smooch&family=Ubuntu:ital@1&display=swap');

/* ---------- HOME PAGE ------------ */
/* ------------- CONTENT ------------- */
body {
    background-color: #323e6a;
    font-family: Ubuntu, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}


/* -------------- HEADER ------------- */
header {
    background-color:  rgb(255, 234, 0, 0.8); 
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #0da505;
    color: #f5ffd3;
}


/* -------------- HERO --------------- */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-area: 1/1/3/4;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-area: 1/2/2/3 ;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.home-title {
    color: #f5ffd3;
    font-family: Smooch, "Brush Script MT", Georgia ;
    font-size: 2.5em;
    margin-top: 60px;
    line-height: 30%;
}
h4 {
    color: #f5ffd3;
}
.button-box {
    text-align: center;
}
.book, .join {
    background-color: #ffea00;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #0da505;
    color: #f5ffd3;
}


/* ----------- MAIN GRID ------------- */
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
main {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #ffea00;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #222b07;
} 
.card-img:hover {
    opacity: .8;
    transform: scale(1.2);
}
.icon {
    width: 80px;
    padding-top: 10px;
}
h2 {
    color: #f5ffd3;
    margin: 0;
}


/* --------- MAIN BACKGROUND ------------ */
#background {
    height: 725px;
    background-color: red;
    grid-area: 4/1/9/11;
}
.mountains {
    width: 100%;
    grid-area: 5/2/8/7;
    box-shadow: 5px 5px 10px #222b07;
}
.msg {
    background-color: #01528f;
    line-height: 1.5em;
    padding: 35px;
    grid-row: 6/7;
    grid-column: 6/10;
    box-shadow: 5px 5px 10px #222b07;
}
.msg h2 {
    color: #f5ffd3;
    font-family: Smooch, "Brush Script MT", Georgia ;
    font-size: 1.6em ;
}
.msg p {
    color: #f5ffd3;
    font-size: .8em;
    padding-bottom: 15px;
}


/* ----------------- FOOTER -------------------------------------- */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffea00;
    color: black;
    padding: 25px 50px;
    margin-top: 100px;
}
footer p {
    font-size: 1.3em;
}
footer a {
    color: black;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}
footer a:hover {
    background-color: #0da505;
    color: #f5ffd3;
}
.social a img {
    padding-top: 15px;
}  


/* ---------------- FAQ PAGE ---------------------------------------------------------------------------- */
.faq-slogan {
    color: #f5ffd3;
    text-shadow: 0px 0px 10px #323e6a;
    font-family: Smooch, "Brush Script MT", Georgia ;
    font-size: 2.5em;
    margin-top: 60px;
    line-height: 30%;
}
#faq-motto {
    color: #f5ffd3;
    text-shadow: 0px 0px 10px #323e6a;
}
.faq-grid {
    margin: 50px 20px;
}
.faq-question {
    text-align: left;
    color: #f5ffd3;
    margin-top: 50px;
}
.faq-question h3 {
    color: #ffea00;
}

/* ----------- CONTACT US PAGE ------------------------------------------------------------------------------- */

form {
    /* Center the form on the page */
    margin: 60px auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 3px solid #ccc;
    border-radius: 1em;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }

  .tags {
    color: #f5ffd3;
  }

/* ------------------------------------------------------------------------------- */

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* --------------- QUERRY --------------- */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}